:root {
    --dark-text: #0A090C;
    --light-text: #EDF2F4;
    --about-bg-light: #243b55;
    --about-bg-dark: #141e30;
    --projects-bg: #243b55;
    --projects-thumb-bg: #132940;
    --contact-bg-light: #2C5364;
    --contact-bg-dark: #0F2027;
    --hero-box-green: #35B03D;
    --hero-box-purp: #977ABE;
    --hero-box-yellow: #DBB638;
    --hero-box-pink: #BA416F;
    --hero-box-orange: #DE851C;
    --hero-box-red: #F73550;
    --container-max-width: 900px;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    min-width: 375px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

ul {
    margin: 0;
}


h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

ul {
    list-style: none;
}

.header,
.about-me,
.projects,
.contact {
    padding: 0 20px;
    font-size: 2.4rem;
}

.large-screen--container {
    height: 100%;
}

.header {
    background-color: var(--about-bg-dark);
    color: var(--light-text);
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 150px;
    width: 100%;
    z-index: 100;

}


.header__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 0 0 0;
    grid-gap: 20px;
}

.header__header {
    grid-column: 1 / -1;
}

.header__heading {
    text-align: center;
    font-size: 4rem;
    margin-top: 20px;
}

.header__link {
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
    z-index: 101;
}

.header__link:hover,
.header__link:active {
    cursor: pointer;
    text-decoration: underline;
}

.about-me {
    color: var(--dark-text);
    background-image: linear-gradient(50deg,var(--about-bg-dark) 50%,var(--about-bg-light));
    padding-bottom: 100px;
    padding-top: 150px;
    position: relative;
}

.about-me__hero-image {
    background-image: url('Img/macbook.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 0 60%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
    z-index: 2;
    position: relative;
    bottom: -150px;
    margin-top: -150px;
}

.about-me__hero-animation {
    margin-bottom: 30px;
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    font-family: 'Roboto Slab', serif;
    padding-top: 200px;
    color: var(--light-text);
}

.about-me__hero-heading {
    font-size: inherit;
    padding: 10px 20px;
    align-self: center;

}


.about-me__hero-box {
    padding: 10px 20px;
    font-size: inherit;
    text-align: center;
    transition: background-color .3s linear;
}


.about-me__heading {
    font-size: 3rem;
}

.about-me__subheading {
    font-size: 2.5rem;
    font-style: italic;
    margin-top: 10px;
}

.about-me__text {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color:hsla(260, 14%, 4%,0.8); */
    color: var(--light-text);
}

.about-me__paragraph {
    line-height: 3.2rem;
    max-width: 50ch;
}

.about-me__picture {
    border-radius: 50%;
    width: 30vw;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    filter: opacity(90%);
    float: right;
    shape-outside: circle(50%);
    margin: 25px 0 20px 20px;

}

.projects {
    color: var(--light-text);
    background-color: var(--projects-bg);
    position: relative;
    padding-top: 15px;
    padding-bottom: 30px;
}

.projects--link {
    color: var(--light-text);
    display: block;
    margin-bottom: 20px;
}

.projects__diagonal {
    position: absolute;
    top: -99px;
    left: 0;
}

.projects__diagonal-flipped {
    position: absolute;
    bottom: -99px;
    left: 0px;
    transform: scale(-1,-1);
    z-index: 100;  
}

.projects__heading {
    font-size: 3rem;
}

.projects__subheading {
    margin-bottom: 50px;
    font-size: 2.5rem;
    font-style: italic;
    margin-top: 15px;
}

.projects__gallery {
    padding: 0;
}

.projects__thumb__wrapper {
    display: block;
    text-decoration: none;
    color: var(--light-text);
}

.projects__thumb {
    background-color: var(--projects-thumb-bg);
    margin-bottom: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2rem;
}

.projects__thumb__heading {
  margin-bottom: 5px;
}

.projects__thumb__subheading {
  font-style: italic;
  margin-bottom: 20px;
  margin-top: 0;
}

.projects__thumb__img {
    width: 100%;
}

.projects__thumb__tech-used {
    font-size: 1.6rem;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.projects__thumb__tech-used__heading {
    margin: 15px 0;
}

.projects__thumb__tech-used__icon {
    height: 30px;
    width: 30px;
}

.projects__thumb__tech-used__li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.projects__thumb__tech-used__text {
    margin-left: 10px;
}


.contact {
    padding-top: 150px;
    padding-bottom: 100px;
    color: var(--light-text);
    background-image: linear-gradient(50deg,var(--about-bg-dark),var(--about-bg-dark));

}

.contact__heading {
    font-size: 3rem;
}

.contact__email-icon {
    color: var(--dark-text);
}

.contact__icons__list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.contact__icon__container {
    background-color: var(--projects-bg);
    color: var(--light-text);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact__icon__link {
    display: flex;
    color: inherit;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex: 1;
    padding: 10px 20px;
}

.contact__icon__link:hover,
.contact__icon__link:active {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.contact__icon__text {
    margin-left: 10px;
}


/***************************
COLOR CLASSES
****************************/

.green-bg,
.purp-bg,
.yellow-bg,
.pink-bg,
.orange-bg,
.red-bg {
    transition: background-color 0.3s linear;
}


.green-bg {
    background-color: var(--hero-box-green);
}

.css-text:after {
    content: 'css';
}

.purp-bg {
    background-color: var(--hero-box-purp);
}

.yellow-bg {
    background-color: var(--hero-box-yellow);
}

.pink-bg {
    background-color: var(--hero-box-pink);
}

.orange-bg {
    background-color: var(--hero-box-orange);
}

.red-bg {
    background-color: var(--hero-box-red);
}

.z-100 {
    z-index: 100;
}

.z-90 {
    z-index: 90;
}

.z-80 {
    z-index: 80;
}

.z-70 {
    z-index: 70;
}

.z-60 {
    z-index: 60;
}

.z-50 {
    z-index: 50;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){
  html,
  body{
    width:100%;
    overflow-x:hidden;
  }
}


@media screen and (min-width: 750px) {
    .about-me__heading,
    .projects__heading,
    .contact__heading {
        font-size: 5rem;
    }

    .header__nav {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        padding: 10px;
    }

    .margin-left--auto {
        margin-left: auto;
    }

    .margin-left--50px {
        margin-left: 50px;
    }

    .about-me-container {
        max-width: var(--container-max-width);
        margin: 0 auto;
    }

    .about-me__hero-animation {
        grid-column: 1 / -1;
        font-size: 7rem;
        width: 500px;
    }

    .about-me__text {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .large-screen--container {
        max-width: var(--container-max-width);
        margin: 0 auto;
    }

    .projects__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        align-items: stretch;
    }

    .projects__thumb {
        margin: 0;
        height: 100%;
    }

    .projects__thumb__tech-used {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
    }

    .contact__icons__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }

    .contact__icon__link {
        padding: 15px 50px;
    }

    .large-screen-container {
        max-width: 900px;
        margin: 0 auto;
    }

}